body {
  font-family: sans-serif;
  background: linear-gradient(to bottom right, aquamarine, mediumslateblue);
  /* display: flex; */
  z-index: 1;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
nav {
  background: linear-gradient(to bottom right, orange, pink);
  width: 100%;
  position: fixed;
  height: 10em;
  top: 0;
  display: flex;
}
.items {
  /* display: flex; */
  padding-top: 15em;
  flex-flow: column wrap;
  padding-left: 20em;
}

nav a {
  display: flex;
  margin: 1em;
}

#list {
  width: 650px;
  height: 400px;
  object-fit: cover;
}

form {
  width: 500px;
  margin: 25px;
}
.mainPage {
  font-size: 10em;
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 15em;
  position: fixed;
  top: 10em;
  left: 0;
  padding-top: 10em;
  background: linear-gradient(to bottom right, GREEN, YELLOW);
  /* overflow-x: hidden; */
  /*places the left and right headers above the bottom content*/
}
