body {
  font-family: sans-serif;
  background: linear-gradient(to bottom right, aquamarine, mediumslateblue);
}

a {
  text-decoration: none;
}

label {
  display: block;
}
nav {
  background: linear-gradient(to bottom right, orange, pink);
  display: flex;
}

nav a {
  display: flex;
  margin: 1em;
}

form div {
  margin: 1em;
  display: flex;
}
